
<div style="display: flex; flex-direction: column;">
  <div class="header center" role="banner">
    ✔️ 100% GENUINE PRODUCTS | PAY CASH OR CARD ON FREE DELIVERY 🚚
  </div>
  
  <img src="../assets/logo_transparent.png" class="appLogo"/>
  
  <div class="footer center">
    <div>
      About us
    </div>
    <div>
      Privacy Policy
    </div>
    <div>
      Delivery Terms
    </div>
    <div>
      Terms & Conditions
    </div>
    <div>
      © 1997-2020, myshop.com, Inc. or its affiliates
    </div>
  </div>
  
</div>
