<div style="display: flex; flex-direction: column;" class="unicorn-dark-theme">
  <div class="header center" role="banner">
    ✔️ 100% GENUINE PRODUCTS | PAY CASH OR CARD ON FREE DELIVERY 🚚
  </div>
  
  <img src="../assets/logo_transparent.png" class="appLogo"/>
  
  <p>
    <mat-toolbar color="">
      <mat-icon>menu</mat-icon>
    <span>My App</span>
    <span class="example-spacer"></span>
      <mat-icon>favorite</mat-icon>
     <mat-icon>share</mat-icon>
  </mat-toolbar>
  </p>

  <div class="footer center">
    <div>
      About us
    </div>
    <div>
      Privacy Policy
    </div>
    <div>
      Delivery Terms
    </div>
    <div>
      Terms & Conditions
    </div>
    <div>
      © 1997-2020, myshop.com, Inc. or its affiliates
    </div>
  </div>
  hellow rold
  
</div>
